extends layout

block content
  h3 Neighbor Nodes
  table.table
    thead
      tr
        th 节点信息
        th 版本
        th 位置
    tbody
      tr
        td #{myNode.enode}
        td #{myNode.name}
        td 本地
      for nn in peers
        tr
          td #{nn.enode}
          td #{nn.name}
          td 邻居
  h3 授权账户
  table.table
    thead
      tr
        th 签名账户
    tbody
      for acct in signers
        tr
          td #{acct}
